#root {
  display: none;
  color: red;
}

#myInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 180px;
  border: 3px solid grey;
  border-radius: 6px;
  padding: 10px;
  margin: 20px;
  color: black;
  text-align: center;
}
#mainContainer {
  display: flex;
  flex-wrap: wrap;
}
h4 {
  width: 180px;
  height: 33px;
  border: 3px solid grey;
  border-radius: 6px;
  padding: 15px;
  margin: 20px;
  color: black;
  text-align: center;
}
ul li {
  list-style: none;
  width: 250px;
  border: 3px solid blue;
  border-radius: 6px;
  padding: 10px;
  margin: 20px;
  color: black;
  text-align: left;
}
/* using class to hide non result  */
.hidden {
  display: none;
}
#topContainer,
#search {
  display: flex;
}
#selectOption {
  height: fit-content;
  width: 300px;
}
option {
  width: 400px;
  padding-left: 20px;
  margin-right: 20px;
}
#result {
  font-size: 1.5rem;
  margin-left: 20px;
}
#disclaimer {
  text-align: center;
}
#allEpisodes {
  width: 100px;
  padding: 30px;
}

#episodes {
  width: 100px;
  color: red;
}

.nav-link {
  padding: 0.7% 0%;
  background-color: blue;
  text-decoration: none;
  text-align: center;
  margin: 12px 0 0 0;
  width: 7em;
  font-size: large;
  color: aliceblue;
  font-weight: 700;
  display: block;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}

.nav-link:hover {
  background-color: rgb(71, 71, 250);
}

a {
  cursor: pointer;
}
